include CHANGELOG.md
include benchmarks/kvik_simulation.py
include benchmarks/kvik_efficiency.py
include benchmarks/kvik_he_comparison.py
include benchmarks/kvik_he_validation.py
include benchmarks/kvik_thread_scaling.py
recursive-include tests *.py
recursive-include docs *.md
